<h2><%= countryName %> data</h2>
<h4>Confirmed: <%= confirmed %> </h4>
<h4>Recovered: <%= recovered %> </h4>
<h4>Deaths: <%= deaths %> </h4>

<form action="/" method="POST">
    <label>Enter country name</label>
    <input name="country" type="text">
</form>
